


body{
    background-color:  #bb2649;
    font-family: "Katibeh", serif;
}

#form1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#form1 input{
    border-radius: 25px;
    width: 250px;
    height: 30px;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-transform: capitalize;
}

#form1 div{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

#form1 div img{
    width: 20px;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forcast h3{
    font-size: 50px;
    text-transform: capitalize;
    color: white;
    margin-top: -20px;
}

.forcast h4{
    font-size: 50px;
    text-transform: capitalize;
    color: white;
    margin-top: -70px;
}

.long {
    font-size: 50px;
    text-transform: capitalize;
    color: white;
    margin-top: -120px;
}

.long .longitude{
    margin-top: -70px;
}

#error{
    font-size: 30px;
    color: white;
}





@media (max-width:600px) {
    .long {
        font-size: 40px;
        margin-top: -100px;
    }

    .long .longitude{
        margin-top: -50px;
    }
}