<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet"  href="css/style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Katibeh&display=swap" rel="stylesheet">
</head>
<body>


          <form id="form1">
            <input type="text" id="address" placeholder="search">
            <div>
                  <img src="images/search.png" alt="">
            </div>
              </form>
                  
                  <div class="theSec">
                        <div class="forcast">
                              <p id="error"></p>
                            <h3 id="temperature"></h3>
                            <h4 id="location"></h4>
                        </div>
                             <div class="long">
                               <p id="latitude"></p>
                               <p class="longitude" id="longitude"></p>
                             </div>

                  </div>
       
      


         
          <script src="js/script.js"></script>
</body>
</html>
